@{
    PagerModel pager = ViewBag.Pager;
}
<h6 style="color: #1275AE;">
    Human Resource (HR) > Operations > Employee Roaster > Employee Roaster Setup
</h6>
<hr />

<div class="card">
    <div class="card-header text-uppercase text-white text-center p-0" style="background:#21909F;">
        <p style="font-family: 'Brush Script'; font-size: 20px; padding: 5px;">Employee Roaster Setup</p>
    </div>

    <div class="row mt-4">
        <div class="col-8 m-auto">
            <input id="hrerId" type="hidden" value="0" />
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-3"><label>Employee Name</label></div>
                    <div class="col-9">
                        <select class="form-control autoSuggestionSelect" aria-label=".form-select-sm example" id="ddlempName" ></select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3"><label>From Date</label></div>
                    <div class="col-9">
                        <input id="hrerfDate" type="date" class="form-control" required />
                        <input id="hrerfDateString" type="text" class="form-control" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3"><label>To Date</label></div>
                    <div class="col-9">
                        <input id="hrertDate" type="date" class="form-control" required />
                        <input id="hrertDateString" type="text" class="form-control" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-3"><label>Shift</label></div>
                    <div class="col-9">
                        <select class="form-control autoSuggestionSelect" aria-label=".form-select-sm example" id="ddlshiftType" required></select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-3"></div>
                    <div class="col-9 text-end">
                        <div id="addNewItem">
                            <a id="addNewButton" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Add New</a>
                        </div>
                        <div id="updateExistingItem">
                            <a id="updateButton" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Update</a>
                            <a id="cancelButton" class="btn btn-primary"><i class="bi bi-plus-circle"></i>Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body table-responsive">
        
        <table class="table table-sm table-striped table-bordered">
            <thead class="dark-mode">
                <tr style="background:#21909F;">
                    <th class="text-center" scope="col">Employee Name</th>
                    <th class="text-center" scope="col"> From Date</th>
                    <th class="text-center" scope="col"> To Date</th>
                    <th class="text-center" scope="col"> Shift</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="tEmpRoasterListbody" class="text-center">
            </tbody>
        </table>
        <div class="row">
            <div class="col-12">
                <partial name="_bottomBar" model="@pager" />
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/hrEmpRoaster.js"></script>
    <script>
        $(document).ready(function () {
            getInitData();
            getAllEmpRoasterClass();
           restValue();
        });
    </script>
}